#Header
{
    color: black;
    background-color: #003CFF;
    text-align: center;
    width: 100%;
    font-size: 20px;
    height: 30px;
}

#Footer
{
    color: black;
    background-color: #00AEFF;
    text-align: center;
    width: 100%;
    font-size: 20px;
    position: relative;
    height: 151px;
    margin-top: -24px;
}

html,body
{
    margin: 0;
    padding: 0;
    
}

body
{
    background-color: gray;
}

#container
{
    width:700px;
    border: solid 2px black;
    margin: auto;
}

#photoBox
{
    padding-left: 180px;
}

#myPhoto
{
    height: 150px;
    width: 150px;
    padding: 5px;
}

.sectionHeader
{
    text-align: center;
}

.sectionText
{
    text-align: left;
}

.sectionBox
{
    margin: auto;
    width: 671px;
}

.colorSelectorBox
{
    padding-left: 80px;
    width: 1200px;
}

#redButton
{
    width: 50px;
    height: 50px;
    background-color: red;
}

#greenButton
{
    width: 50px;
    height: 50px;
    background-color: green;
}

#whiteButton
{
    width: 50px;
    height: 50px;
    background-color: white;
}

#orangeButton
{
    width: 50px;
    height: 50px;
    background-color: orange;
}

#blandButton
{
    width: 50px;
    height: 50px;
    background-color: #8F8A5A;
}

#yellowButton
{
    width: 50px;
    height: 50px;
    background-color: yellow;
}

#purpleButton
{
    width: 50px;
    height: 50px;
    background-color: purple;
}

#lightGreenButton
{
    width: 50px;
    height: 50px;
    background-color: lightgreen;
}

#pinkButton
{
    width: 50px;
    height: 50px;
    background-color: pink;
}

#defaultButton
{
    width: 50px;
    height: 50px;
    background-color: gray;
}
