body,html {
	margin: 0;
}

.header {
	width: 100%;
	margin: -32px 0 10px 0 ;
	height: 50px;
	background-color: #006666;
}

.header p {
	padding: 10px;
	color: white;
	font-weight: 900;
	font-size: 30px;
	font-family: courier;
}

.instructions {
	font-family: courier;
	font-size: 24px;
	text-align: center;
	font-weight: lighter;
	padding-bottom: 20px;
}

.board, .cell {
  margin: 0
}

.board {
  width: 90vw;
  height: 90vw;
  max-width: 600px;
  max-height: 600px;
  border: 1px solid transparent;
  position: relative;
  left; 50%;
  margin: auto;
}

.board:hover {
  cursor: pointer;
}

.cell {
  width: 33.33%;
  height: 33.33%;
  display: block;
  float: left;
  box-sizing: border-box !important;
  font-family: courier;
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  transition font-size 0.5s;
  text-transform: lowercase;
}

.selected {
	font-size: 160px;
	transition: all 0.5s;
}

.xmark {
	color: green;
}

.omark {
	color: red;
}

.one {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.two {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.three {
  border-bottom: 2px solid black;
}
.four {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.five {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.six {
  border-bottom: 2px solid black;
}
.seven {
  border-right: 2px solid black;
}
.eight {
  border-right: 2px solid black;
}
.nine {
  
}

@keyframes growWidth {
	from { width: 0px }
}
@keyframes growHeight {
	from { height: 0px }
}

.horizontal-mark, .diagonal-mark {
	animation: growWidth 0.5s;
}
.vertical-mark {
	animation: growHeight 0.5s;
}

.horizontal-mark {
	width: 90%;
    height: 8px;
    border-radius: 16px;
    position: absolute;
    background-color: gold;
    left: 50%;
	transform: translatex(-50%);
}
.horizontal-top {
	top: 16%;
}
.horizontal-middle {
	top: 49%;
}
.horizontal-bottom {
	top: 82.5%;
}

.vertical-mark {
	height: 90%;
	width: 8px;
	border-radius: 16px;
    position: absolute;
    background-color: gold;
	top: 50%;
	transform: translateY(-50%);
}
.vertical-left {
	left: 16%;
}
.vertical-middle {
	left: 49%;
}
.vertical-right {
	left: 82.5%;
}

.diagonal-mark {
	width: 120%;
	height: 8px;
	border-radius: 16px;
	position: absolute;
	background-color: gold;
	top: 50%;
	left: 50%;
}
.diagonal-down {
	transform: translateX(-50%) rotateZ(45deg);
}
.diagonal-up {
	transform: translateX(-50%) rotateZ(-45deg);
}

@keyframes dropIn {
	from { top: -2000px }
}

.modal-shadow {
	visibility: hidden;
}

.modal {
	position: absolute;
	margin: auto;
	top: -2000px;
	right: 0;
	left: 0;
	width: 500px;
	height: 250px;
	background-color: #006666;
	color: white;
	max-width: calc(100% - 30px);
	transition: top 0.4s;
	text-align: center;
}

.modal p {
	font-family: verdana;
	font-size: 24px;
	padding: 30px;
}

.play-again-button {
	width: 300px;
	max-width: calc(100% - 30px);
	box-sizing: border-box;
	background-color: white;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	padding: 12px;
	border: none;
}

.play-again-button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 5px white;
}

.modal-shadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 650px) {
  .selected {
	font-size: 25vw;
  }
}

@media screen and (max-width: 450px) {
  .horizontal-mark {
	height: 4px;
  }
  .vertical-mark {
  width: 4px;
  }
}